
<div class="container-fluid">
  <div class="col p-4">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a routerLink="/supervisor">Главная страница</a></li>
        <li class="breadcrumb-item active" aria-current="page">Управление рабочими местами</li>
      </ol>
    </nav>

    <h3 style="margin: 0 auto; display: inline-block; ">Управление рабочими местами</h3>

    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #modal-addorganization" style="margin-left: 10px">Создать новое рабочее место</button>

    <table class="uk-table uk-table-divider uk-table-hover">
      <thead>
      <tr>
        <th>Название локации</th>
        <th>Организация</th>
        <th>Количество сотрудников</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let workplace of workplaces">
        <td>{{workplace.name}}</td>
        <td>{{workplace.orgname}}</td>
        <td>{{workplace.workers}}</td>
        <td><button class="uk-button uk-button-default" type="button" (click)="openWorkPlace(workplace)" uk-toggle="target: #modal-openworkplace">Открыть</button></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- This is the modal -->
<div id="modal-addorganization" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title text-center">Добавление рабочего места</h2>
    </div>
    <legend class="uk-legend" style="margin-top:15px">Выберите организацию</legend>
    <div class="uk-margin">
      <select class="uk-select" (change)="onChange($event.target.value)">
        <option *ngFor="let i of organizations">{{i.name}}</option>
      </select>
    </div>
    <legend class="uk-legend">Название</legend>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Введите название рабочего места" [(ngModel)]="newworkplace.name">
    </div>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Назад</button>
      <button class="uk-button uk-button-primary" type="button" (click)="addWorkPlace()">Создать</button>
    </p>
  </div>
</div>

<!-- This is the modal -->
<div id="modal-openworkplace" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title text-center">Просмотр рабочего места</h2>
    </div>
    <legend class="uk-legend" style="margin-top:15px">ID рабочего места</legend>
    <div class="uk-margin">
      <input class="uk-input" type="text" [(ngModel)]="openworkplace.id" disabled>
    </div>
    <legend class="uk-legend">Название</legend>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Введите название рабочего места" [(ngModel)]="openworkplace.name">
    </div>
    <legend class="uk-legend" style="margin-top:15px">Организация</legend>
    <div class="uk-margin">
      <select class="uk-select" (change)="onChange($event.target.value)">
        <option *ngFor="let i of organizations" [selected]="i.id == openworkplace.organization">{{i.name}}</option>
      </select>
    </div>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Назад</button>
      <button class="uk-button uk-button-primary uk-modal-close" type="button">Изменить и сохранить</button>
      <button class="uk-button uk-button-danger uk-modal-close" type="button" (click)="deleteWorkplace(openworkplace)">Удалить</button>
    </p>
  </div>
</div>
