<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Добро пожаловать в WorkTimer!</h1>
    <p>Добро пожаловать в сервис по учету времени работы сотрудников. Если вы сотрудник, нажмите соответствующую кнопку,
      если вы отвественное лицо, авторизируйтесь в сервисе.</p>
    <p><a class="btn btn-primary btn-lg" uk-toggle="target: #modal-login" role="button">Войти</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Учитывайте рабочее время</h3>
      <p>Наш сервис создан для учета времени работы сотрудников вашей компании!</p>
    </div>
    <div class="col-md-4">
      <h3>Ведите учет сотрудников</h3>
      <p>Наш сервис предоставляет возможность вести карточки сотрудников с актуальной информацией!</p>
    </div>
    <div class="col-md-4">
      <h3>Дополнительные сервисы</h3>
      <p>По мере развития нашего сервиса вы так же, в режиме, онлайн увидите новые функции!</p>
    </div>
  </div>

  <hr>

</div>

<footer class="container">
  <p>© Aleksandros Rouvas 2021</p>
</footer>



