.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  width: 80%;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.a {
  color: #0d6efd;
  text-decoration: underline;
}

.headertext{
  margin-top: 20px
}
