

<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left no-print">

    <ul class="uk-navbar-nav">
      <li>
        <a class="uk-navbar-toggle" href=""><span uk-icon="search"></span>
        </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">

            <li><a>Изменение размера шрифта</a></li>
            <li><a href="javascript:ts('body',1)">Больше</a></li>
            <li><a href="javascript:ts('body',-1)">Меньше</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>

  <div class="uk-navbar-center">
    <a href="" class="uk-navbar-item uk-logo">WorkTimer</a>
  </div>

  <div class="uk-navbar-right no-print">

    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Войти</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">Вход в систему</li>
            <li><a routerLink="/worker/auth">Как сотрудник</a></li>
            <li><a routerLink="/auth">Как администратор</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- This is the modal -->
<div id="modal-login" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title text-center">Вход в систему</h2>
    </div>


    <div class="uk-margin" style="display: grid">
      <button class="uk-button uk-button-default uk-button-large uk-modal-close" routerLink="/worker/auth">Войти как сотрудник</button>
      <button class="uk-button uk-button-default uk-button-large uk-modal-close" routerLink="/auth">Войти как администратор</button>
    </div>

  </div>
</div>
